@import '../../mixins';

.auth-modal-backdrop {
    height: 100vh;
    width: 100%;
    // fix background-color to have opacity
    position: fixed;
    top: 0;
    left: 0;
}

.auth-modal {
    @include modal;
    @include flex-container;
    flex-direction: column;
    justify-content: center;
    color: black;
}

#close-icon {
    position: absolute;
    top: 15px;
    left: 15px;
}

.dot-flex {
    @include flex-container;
}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0px 3px;
}

.active {
    background-color: blue;
}

.subscription-box {
    height: 75px;
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
}