@import './variables';

@mixin flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin header {
    height: 75px;
    width: 100%;
    background-color: $primary-header-color;
    position: fixed;
    top: 0;
    @include flex-container;
    color: white;
    box-sizing: border-box;
    padding: 0px 25px;
}

@mixin container {
    height: 100vh;
    background-color: $primary-color;
    box-sizing: border-box;
    padding: 75px 25px 0px 25px;
    color: white;
}

@mixin modal {
    height: 500px;
    width: 350px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -175px;
    border-radius: 20px;
}

@mixin dash-module {
    border: 2px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}

@mixin input {
    height: 35px;
    width: 300px;
    box-sizing: border-box;
    border: 2px solid black;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 15px;
}

@mixin button {
    height: 30px;
    width: 300px;
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 5px;
}